body{
    background-color: rgba(141, 2, 55, 0.822);
    font-family: 'Rajdhani', sans-serif;
}
header {
    color: rgb(219, 16, 60);
    font-size: 44px;
}
main {
    background-color: rgba(245, 227, 224);
    /* Red Green Blue Alpha*/
    width: 960px;
    margin: 50px auto 50px auto;
    padding: 50px;
    border-radius: 30px;
}
.destaque{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
    display: block;
    position: relative;
}

footer img{
    width: 40px;
    margin: 0 10px;
    
}
footer{
    width: 960px;
    margin: 0 auto 50px auto;
    padding: 20px;
    text-align: center;
    
}